<!DOCTYPE html>
<div id="post-<%=post._id%>" class="posts">
            <div class="title">
                <a href="/post/<%=post._id%>"><%= post.title %></a>
            <div id="post-<%= i._id %>" class="post">
                <div class="body">
                    <p><%= post.body %></p>
                    <p class="date"><%=post.created_at%></p>
                </div>
                <% if (showButton) { %>
                    <div class="button">
                        <button id="button-<%=post._id%>"
                        onclick="location.href = '/destroy/<%=post._id%>'">Delete</button>
                    </div>
            </div>
        </div>
    </div>
    </div>